<div class="container">
    <div class="row">
<!-- About Me -->
        <div class="col-lg shadow border m-1">
<div class="text-center mt-1 ">
    <h2>About Me</h2>
    <img src="../../assets/profile picture.jpg" alt="profile picture" width="410" height="256" class="rounded-circle">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos repudiandae consequuntur, distinctio optio numquam quibusdam accusantium enim possimus fugiat maiores voluptas odio. Pariatur distinctio cumque error dolorem assumenda praesentium.</p>
</div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
<div class="text-center mt-1">
    <h2>Featured Project</h2>
</div>
        </div>
    </div>
</div>
